@using Green.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .head {
        background-size: 100%;
        height: 50px;
        text-align: left;
        padding-left: 100px;
        margin-top: 10px;
    }

    .col-md-4 {
        width: 25.33333333%;
    }

    .row {
        margin-left: 20px;
        margin-right: 20px;
    }

    .login {
        width: 770px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left:57px;
    }

    .sociallog {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .form-group {
        padding-left: 30px;
    }

    .checkbox {
        padding-right: 50px;
    }

    .p {
        padding-right: 335px;
        padding-top: 20px;
    }
</style>

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section class="login" id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="head">Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">

                            @Html.LabelFor(m => m.RememberMe)
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p class="p">
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section class="sociallog" id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}